.back {
    text-align: left;
    top: 87%;
    left: 2%;
    position: absolute;
    --sds-c-button-color-background :#5c7cfa;
    --lwc-colorTextIconDefault: white;
}

.output {
    text-align: right;
    top: 87%;
    left: 95%;
    position: absolute;
    --sds-c-button-color-background :#5c7cfa;
    --lwc-colorTextIconDefault: white;
}

.btag {
    text-align: right;
    top: 92%;
    left: 83%;
    position: absolute;
    --sds-c-button-text-color :#5c7cfa;
}

.help{
    position:absolute;
    top:2.4%;
    left: 30.5%;
    --lwc-colorTextIconDefault: #6acafa;

}